.teachersSectionContainer{
    border-bottom: 3px solid #F03EC0;
    grid-column: 1/4;
    grid-row: 3;
}

.cardsContainers{
    display: flex;
    justify-content: space-around;
    height: 80%;
}

.centerH2{
    text-align: center;
    margin-bottom: 60px;
    color: #C32ED9;
}


@media (max-width: 900px) {
    .cardsContainers{
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        
    }
    
}

